body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
}
.card {
    margin: auto;
    margin-top: 110px;
    width: 650px;
    height: 450px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    display: flex;
    align-items: left;
    flex-direction: row;
}

.card .left {
    width: 60%;
    height: 450px;
    background-color: #949494;
    border-radius: 15px;
    padding: 0 32px;
}
.card .right {
    width: 50%;
    height: 450px;
    border-radius: 15px;
    padding: 0 16px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.reaction, .memory, .verbal, .visual{
    font-size: 16px;
    color: #2b2b2b;
    height: 44px;
    width: 200px;
    background-color: lightslategray;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4px 0;
    padding: 0 12px;
}

/*
h4
h1
p result
h3
p result

right
h4
type
score 
*/

.button {
    font-size: 16px;
    color: #2b2b2b;
    height: 54px;
    width: 300px;
    background-color: lightsalmon;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

/*
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
</style>
*/